section.ticket
  .ticket-loading
    video.ticket-loading__video(autoplay muted width="375" height="375")
      source(src="./video/loading-prize.ogv" type='video/ogg; codecs="theora, vorbis"')
      source(src="./video/loading-prize.mov" type="video/mp4")
      source(src="./video/loading-prize.webm" type='video/webm; codecs="vp9.0, opus"')
      source(src="./video/loading-prize.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"')
      | Your browser does not support the video tag.
  .container.container_min.ticket__container
    .ticket-img
      img.ticket-img__back(src="./img/add-wallet-ticket-back.svg", alt="")
      img.ticket-img__prize(srcset="./img/characters-ticket2x.webp 2x" src="./img/characters-ticket.webp", alt="", type="image/webp")
    span.ticket__subtitle You have received
    h1.ticket__title White List to
      br
      | the NFT mint
    .btn__wrapper.ticket__btn
      a.btn.btn_primary.btn_230(href="account-with-prizes.html")
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text Cool!
    .bannerhowget
      .bannerhowget__container
        h3.bannerhowget__title How to get
          br
          | prize?
        p.bannerhowget__text Write to our
          a.bannerhowget__link(href="#") &nbsp;
            span support channel
            span &nbsp;in Discord
          | . They will help you with everything. Within 3 days we will issue Alpha Fighter status to this wallet.
