section.ticket
  .ticket-loading 
    video.ticket-loading__video(autoplay muted)
      source(src="video/loading-prize.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2') 
  .container.container_min.ticket__container
    .ticket-img
      img.ticket-img__back(src="./img/add-wallet-ticked-back.svg", alt="")
      img.ticket-img__prize(srcset="./img/ticket-tshirt2x.webp 2x" src="./img/ticket-tshirt.webp", alt="", type="image/webp")
    span.ticket__subtitle You have received
    h1.ticket__title Official Fight
      br
      | Me merch
    .btn__wrapper.ticket__btn
      a.btn.btn_primary.btn_230(href="account-with-prizes.html")
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text Cool!
    .bannerhowget
      .bannerhowget__container
        h3.bannerhowget__title How to get
          br
          | prize?
        p.bannerhowget__text Write to our
          a.bannerhowget__link(href="#") &nbsp;
            span administrator Denis
            span &nbsp;in Discord
          | . He will ask for the wallet that you specified at the beginning. Within 3 days we will issue Alpha Fighter status to this wallet.
