include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.account-page
    include ../components/global/header-account
    //main
    main
      include ../pages/account/getticket-no-ticket
      include ../pages/account/prizes
      include ../pages/account/getx3
      include ../pages/account/personprizes
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/modals/modal
    include ../components/modals/modalWithTimer
    include ../components/global/scripts
