include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.account-page.account-page_ticket
    include ../components/global/header-account
    //main
    main
      include ../pages/ticket/ticket
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/global/scripts
