//add-wallet
.auth-page {
  background: #090520;
}
.add-wallet {
  padding: 123px 0 120px;
  background-image: url(../img/bg/first-sc-input-bg2x-320.webp);
  background-image: image-set(
    url(../img/bg/first-sc-input-bg-320.webp) 1x type('image/webp'),
    url(../img/bg/first-sc-input-bg2x-320.webp) 2x type('image/webp'));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  @include mq('768') {
    padding: 120px 0 160px;
    background-image: url(../img/bg/first-sc-input-bg2x-768.webp);
    background-image: image-set(
      url(../img/bg/first-sc-input-bg-768.webp) 1x type('image/webp'),
      url(../img/bg/first-sc-input-bg2x-768.webp) 2x type('image/webp'));
  }
  @include mq('1024') {
    background-image: url(../img/bg/first-sc-input-bg2x.webp);
    background-image: image-set(
      url(../img/bg/first-sc-input-bg.webp) 1x type('image/webp'),
      url(../img/bg/first-sc-input-bg2x.webp) 2x type('image/webp'));
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__title {
    margin-top: 14px;
    margin-bottom: 16px;
    @include mq('768') {
      margin-bottom: 32px;
    }
  }
  &__btn {
    margin-top: 5px;
  }
  &__container {
    max-width: 375px;
    @include mq('768') {
      display: grid;
      grid-template-columns: 349px 349px;
      grid-template-rows: auto;
      grid-column-gap: 30px;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
    }
    @include mq('1024') {
      grid-template-columns: 380px 380px;
    }
  }
  &__content {
    margin-top: 60px;
    position: relative;
    @include mq('768') {
      margin-top: 0;
    }

  }
}

.add-wallet-img {
  position: relative;
  overflow: visible;
  display: flex;
  @include mq('768') {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &__back {
    position: absolute;
    top: calc(50% - 342px);
    left: -93%;
    width: 685px;
    height: 685px;
    padding-top: 65px;
    object-fit: contain;
    object-position: center;
    max-width: none;
    animation: 7s linear 0s normal none infinite running rotate;
    @include mq('360') {
      left: -77%;
    }
    @include mq('768') {
      left: -60%;
      right: 0;
      margin: 0 auto;
      top: calc(26% - 265px);
      width: 799px;
      height: 531px;
      padding-top: 76px;
    }
    @include mq('1024') {
      left: -53%;
    }
  }
  &__ticket {
    position: relative;
    animation: scale-2 4s linear 0s infinite alternate;
    @include mq('768') {
      display: block;
      height: 141px;
      width: 100%;
      object-fit: contain;
    }
  }
  &__title {
    position: relative;
    max-width: 212px;
    @include mq('768') {
      font-size: 34px;
      max-width: 349px;
      text-shadow: -1.3px 2.6px 0px rgba(0, 0, 0, 0.24);
      margin-top: 20px;

    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-2 {
  0% {
    transform: scale(1);
  }  
  50% {
    transform: scale(1.05);
  }
}