section.steps
  .container.steps__container
    h2.steps__title How to create
      br
      | a wallet?
    ul.list.steps__list
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Go to&nbsp;
          a.link(href="https://wallet.polygon.technology/" target="_block") wallet.polygon.technology
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Tap to «Connect to a Wallet»
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Choose a wallet that you have
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Copy your wallet address and paste in the field. That's it!

