.modal__overlay(data-modal="2")
  .modal
    +icon("modal-back")
    .modal__container
      h3.modal__title How to get prize?
      p.modal__text Write to our administrator Denis in Discord. He will ask for the wallet that you specified at the beginning. Within 3 days we will issue Alpha Fighter status to this wallet.
    button.modal__close Close
      +icon('close')
      +icon('close-back')
