.modal__overlay(data-modal="2")
  #js-animation
  .modal.modal_timer
    img.modal-back(src="./img/modal-timer-back.svg", alt="")
    .modal__timer
      .timer#modalTimer
        span.hour 23
        | :
        span.min 59
        | :
        span.sec 32
    .modal__container
      h3.modal__title WOW! GET 3 TICKETS
      p.modal__text instead of 1 for each friend in the next 24&nbsp;hours
    button.modal__close Close
      +icon('close')
      +icon('close-back')
