.modal__overlay(data-modal="1")
  .modal
    .modal__container
      h3.modal__title How to get prize?
      p.modal__text Write to our
        a.modal__link(href="#") &nbsp;
          span support channel
          span &nbsp;in Discord
        | . They will help you with everything. Within 3 days we will issue Alpha Fighter status to this wallet.
    button.modal__close Close
      +icon('close')
      +icon('close-back')




