section.getticket
  .container
    h1.hidden Get Ticket
    .getticket-img
      +icon('getticket-back')
      img.getticket-img__prizes(src="./img/first-sc2x.webp", alt="Invite your Friends and get rewards", loading="lazy", width="585", height="438", type="image/webp")
    span.getticket__text
      +icon("ticket")
      span.ticket-count 1
      | &nbsp;ticket
    .btn__wrapper.getticket__btn
      a.btn.btn_primary.btn_230(href="ticket.html")
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text open a ticket


