section.getx3
  .container.container_min
    .bannertimer.getx3__bannertimer
      .bannertimer__timer
        .timer
          span.hour 23
          | :
          span.min 59
          | :
          span.sec 32
      .bannertimer__container
        h3.bannertimer__title Get x3 tickets
        p.bannertimer__text for each friend you invite in next 24 hours you will get 3 tickets, not 1

