section.personprizes
  .container.container_min.personprizes__container
    .bannerinv.personprizes__bannerinv
      .bannerinv__container
        h3.bannerinv__title INVITE FRIENDS TO GET MORE TICKETS
        ul.list.list_blue.bannerinv__list
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Share your personal link
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Your friend fulfills conditions
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text You and your friend both get ticket
        .bannerinv-link Your Fighter link
          span.bannerinv-link__url#copy-content(data-text="fight.me/ref/ajai120") FIGHT.ME/REF/AJAI120
          .btn__wrapper#copy-btn.bannerinv__btn
            button.btn.btn_primary
              +icon('btn-back')
              +icon('btn-br')
              +icon('btn-br-top')
              +icon('btn-br-bottom')
              span.btn__text Copy link
        ul.bannerinv-socList
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") facebook
              +icon("facebook")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") telegram
              +icon("telegram")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") twitter
              +icon("twitter")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") discord
              +icon("discordb")
    .personprizes__right
      h2.personprizes__title YOUR PRIZES
      .personprizes-counts
        .personprizes-counts__item
          span.count-friends 0
          | Friends
        .personprizes-counts__item
          span.count-pending 0
          | Pending
      .slider__wrapper
        .slider__nav
          btn.slider__arrow.slider__left.slider__arrow_disabled prev
            +icon("arrow-back")
            +icon("arrow")
          btn.slider__arrow.slider__right next
            +icon("arrow-back")
            +icon("arrow")
        .slider.keen-slider.personprizes-slider#personprizes-slider
          .slider__item.slider-item.keen-slider__slide
            +icon("slider-item-bg-half")
            img.slider-item__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
            span.slider-item__text White List to the NFT mint
            span.slider-item__date 12 May, 15:32
      .btn__wrapper
        button.btn.btn_secondary.btn_320
          +icon('btn-back-320')
          +icon('btn-br-320')
          +icon('btn-br-top-320')
          +icon('btn-br-bottom-320')
          span.btn__text How to get prize?


