section.personprizes
  .container.container_min.personprizes__container
    .bannerinv.personprizes__bannerinv
      .bannerinv__container
        h3.bannerinv__title INVITE FRIENDS TO GET MORE TICKETS
        ul.list.list_blue.bannerinv__list
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Share your personal link
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Your friend fulfills conditions
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text You and your friend both get tickets!
        .bannerinv-link Your Invitation link
          span.bannerinv-link__url#copy-content(data-text="fight.me/ref/ajai120") FIGHT.ME/REF/AJAI120
          .btn__wrapper#copy-btn.bannerinv__btn
            button.btn.btn_primary
              +icon('btn-back')
              +icon('btn-br')
              +icon('btn-br-top')
              +icon('btn-br-bottom')
              span.btn__text Copy link
        ul.bannerinv-socList
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#" target="_blank") facebook
              +icon("facebook")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#" target="_blank") telegram
              +icon("telegram")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="https://twitter.com/Fight_Me_Club" target="_blank") twitter
              +icon("twitter")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="https://discord.gg/fight-me-club" target="_blank") discord
              +icon("discordb")
    .personprizes__right
      h2.personprizes__title YOUR PRIZES
      .personprizes-counts
        .personprizes-counts__item
          span.count-friends 0
          | Friends
        .personprizes-counts__item
          span.count-pending 0
          | Pending
      include ./sliders/half-slider
      .btn__wrapper
        button.btn.btn_secondary.btn_320(data-modal="1")
          +icon('btn-back-320')
          +icon('btn-br-320')
          +icon('btn-br-top-320')
          +icon('btn-br-bottom-320')
          span.btn__text How to get prize?


