//first-screen
section.fr-screen
  .container.fr-screen__container
    .fr-screen-img
      +icon('first-sc-back')
      img.fr-screen-img__prizes(src="./img/first-sc.webp", alt="Invite your Friends and get rewards", width="585", height="438", type="image/webp")
    .fr-screen__content
      h1.fr-screen__title Invite your Friends and get rewards
      ul.list
        li.list__item
          span.list__count
            +icon("list-bg")
          span.list__text Log In via Discord
        li.list__item
          span.list__count
            +icon("list-bg")
          span.list__text Enter your Polygon Wallet
        li.list__item
          span.list__count
            +icon("list-bg")
          span.list__text Get your prizes!
      .btn__wrapper.fr-screen__btn
        a.btn.btn_primary.btn_320(href="https://discord.gg/fight-me-club")
          +icon('btn-back-320')
          +icon('btn-br-320')
          +icon('btn-br-top-320')
          +icon('btn-br-bottom-320')
          span.btn__text Log In via Discord
        span.error__msg
          +icon('warn')
          | Try connecting the discord again



