//fr-screen
.fr-screen {
  padding: 90px 0 120px;
  background-image: url(../img/bg/first-sc-bg2x-320.webp);
  background-image: image-set(
    url(../img/bg/first-sc-bg-320.webp) 1x type('image/webp'),
    url(../img/bg/first-sc-bg2x-320.webp) 2x type('image/webp'));
  background-repeat: no-repeat;
  background-size: cover;
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__title {
    margin-top: 14px;
    margin-bottom: 16px;
  }
  &__btn {
    margin-top: 40px;
  }
}
