section.hero
  .hero__banner
  .hero__content
    .container.container-min.hero__container
      .hero__descr
        h2.hero__title Fight, collect, evolve!
        p.hero__text Fight Me is a&nbsp;
          span play2own
          | &nbsp;and&nbsp;
          span compete2earn
          | &nbsp;game by Nekki - game developer with more than&nbsp;
          span 1&nbsp;billion
          | &nbsp;worldwide downloads.
        p.hero__text It's a fighting management game, where you will collect fighters, train them and compete to win tournaments and ranks.
        a.link_learn.hero__link(href="#") Learn more
      .hero__img
        img(srcset="./img/character2x.webp 2x" src="./img/character.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")





