section.tickets-sc
  .container.container_min
    h2.tickets-sc__title Get tickets to earn prizes
    ul.tickets-sc-list
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="Get White List - and you’re at the NFT mint!", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Get White List - and you’re at the NFT mint!
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/10002x.webp 2x" src="./img/1000.webp", alt="WOW! 10 random tickets will receive $1,000", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name WOW! 10 random tickets will receive $1,000
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/netflix2x.webp 2x" src="./img/netflix.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name 50 annual Netflix subscriptions
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/shadow-fight2x.webp 2x" src="./img/shadow-fight.webp", alt="Promo codes in Shadow Fight by Nike up to $100 per friend ", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Promo codes in Shadow Fight by Nike up to $100 per friend 
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/upto502x.webp 2x" src="./img/upto50.webp", alt="Monetary rewards worth up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Monetary rewards worth up to 50 USDT
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/alfa2x.webp 2x" src="./img/alfa.webp", alt="@Alpha role - guaranteed participation in the mint!", loading="lazy", width="137", height="52", type="image/webp")
        span.tickets-sc-list__name @Alpha role - guaranteed participation in the mint!