section.tickets-sc
  .container
    h2.tickets-sc__title Get tickets to earn prizes
    ul.tickets-sc-list
      li.tickets-sc-list__item
        span.tickets-sc-list__name Get White List - and you’re at the NFT mint!
      li.tickets-sc-list__item
        span.tickets-sc-list__name Official Fight Me merch
      li.tickets-sc-list__item.tickets-sc-list__item_big
        span.tickets-sc-list__name Monetary rewards worth up to 50 USDT
      li.tickets-sc-list__item
        span.tickets-sc-list__name 1 of 3 RAZER Gaming Chairs
      li.tickets-sc-list__item
        span.tickets-sc-list__name Up to 300 WOW tokens ($100) from our partners!
      li.tickets-sc-list__item
        span.tickets-sc-list__name @Alfa role in Discord — be a beta-tester of the game!
      li.tickets-sc-list__item
        span.tickets-sc-list__name Gold Lion role in our Discord server
      li.tickets-sc-list__item
        span.tickets-sc-list__name A trip on an excursion to the office of the publisher Nekki
      li.tickets-sc-list__item
        span.tickets-sc-list__name Invitation to a party in honor of the release of the game
