section.tickets-sc
  .container.container_min.tickets-sc__container
    h2.tickets-sc__title Get tickets to earn prizes
    ul.tickets-sc-list
      li.tickets-sc-list__item.tickets-sc-list__item_big
        img.tickets-sc-list__img(srcset="./img/upto50_big2x.webp 2x" src="./img/upto50_big.webp", alt="Monetary rewards worth up to 50 USDT per each ticket", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Monetary rewards worth up to 50 USDT per each ticket
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="Get the White List - and participate in the NFT mint!", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Get the White List - and participate in the NFT mint!
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/10002x.webp 2x" src="./img/1000.webp", alt="WOW! 10 random tickets will receive $1,000", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name WOW! 10 random tickets will receive $1,000
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/netflix2x.webp 2x" src="./img/netflix.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name 50 annual Netflix subscriptions
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/shadow-fight2x.webp 2x" src="./img/shadow-fight.webp", alt="Promo codes in Shadow Fight 3 by Nekki up to $100 per ticket", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Promo codes in Shadow Fight 3 by Nekki up to $100 per ticket
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/alpha2x.webp 2x" src="./img/alpha.webp", alt="Be one of the @Alpha Fighters - the best role with guaranteed participation in the mint!", loading="lazy", width="137", height="52", type="image/webp")
        span.tickets-sc-list__name Be one of the @Alpha Fighters - the best role with guaranteed participation in the mint!