section.tickets-sc
  .container
    h2.tickets-sc__title Get tickets to earn prizes
    ul.tickets-sc-list
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Get White List - and you’re at the NFT mint!
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="Official Fight Me merch", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Official Fight Me merch
      li.tickets-sc-list__item.tickets-sc-list__item_big
        img.tickets-sc-list__img(srcset="./img/upto50usdt-big2x.webp 2x" src="./img/upto50usdt-big.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Monetary rewards worth up to 50 USDT
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/armchair2x.webp 2x" src="./img/armchair.webp", alt="1 of 3 RAZER Gaming Chairs", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name 1 of 3 RAZER Gaming Chairs
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/300wow2x.webp 2x" src="./img/300wow.webp", alt="Up to 300 WOW tokens ($100)", loading="lazy", width="110", height="110", type="image/webp")
        span.tickets-sc-list__name Up to 300 WOW tokens ($100) from our partners!
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/alfa2x.webp 2x" src="./img/alfa.webp", alt="@Alfa role in Discord — be a beta-tester of the game!", loading="lazy", width="137", height="52", type="image/webp")
        span.tickets-sc-list__name @Alfa role in Discord — be a beta-tester of the game!
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/goldlion2x.webp 2x" src="./img/goldlion.webp", alt="Gold Lion role in our Discord server", loading="lazy", width="146", height="52", type="image/webp")
        span.tickets-sc-list__name Gold Lion role in our Discord server
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/nekki2x.webp 2x" src="./img/nekki.webp", alt="A trip on an excursion to the office of the publisher Nekki", loading="lazy", width="113", height="52", type="image/webp")
        span.tickets-sc-list__name A trip on an excursion to the office of the publisher Nekki
      li.tickets-sc-list__item
        img.tickets-sc-list__img(srcset="./img/party2x.webp 2x" src="./img/party.webp", alt="Invitation to a party in honor of the release of the game", loading="lazy", width="113", height="52", type="image/webp")
        span.tickets-sc-list__name Invitation to a party in honor of the release of the game
