.header {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  &__container {
    justify-content: center;
  }
}

.logo {
  display: block;
  font-size: 0;
  height: 100%;
}

