.header {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  &__container {
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: block;
  font-size: 0;
  height: 100%;
}

.header-userimg {
  width: 68px;
  height: 70px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    left: -4px;
    width: 100%;
    height: 100%;
    background: rgba($color: $black, $alpha: 0.35);
    clip-path: path("M6 11.9911L36 2V8.66075L66 11.9911L61.7144 51.9555L36 62V55.286L10.2857 51.9555L6 11.9911Z");
  }
  img {
    clip-path: path("M6 11.9911L36 2V8.66075L66 11.9911L61.7144 51.9555L36 62V55.286L10.2857 51.9555L6 11.9911Z");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
  .icon-discord {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 3;
  }
  .icon-user-br, .icon-user-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .icon-user-back {
    fill: $black;
    z-index: 1;
  }
}
