//header
header.header.header_account
  .container.container_min.header__container
    a.logo(href="./") logo
      img(src="./img/logo.svg", alt="Logo")
    a.header__support.link(href="") Need help?
    .header-userimg
      img(src="./img/avatar.webp", alt="Andrey Kotov" type="image/webp")
      +icon('discord')
      +icon('user-br')
      +icon('user-back')
