.slider__wrapper
  .slider__nav
    btn.slider__arrow.slider__left.slider__arrow_disabled prev
      +icon("arrow-back")
      +icon("arrow")
    btn.slider__arrow.slider__right next
      +icon("arrow-back")
      +icon("arrow")
  .slider.keen-slider.personprizes-slider#personprizes-slider
    .slider__item.slider-item.keen-slider__slide
      img.slider-item__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="Get White List - and you’re at the NFT mint!", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
      span.slider-item__date 12 May, 15:32
