.slider__wrapper
  .slider__nav
    btn.slider__arrow.slider__right next
      +icon("arrow-back")
      +icon("arrow")
  .slider.keen-slider.personprizes-slider#personprizes-slider
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg-half")
      img.slider-item__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
      span.slider-item__date 12 May, 15:32
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg-half")
      img.slider-item__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
      span.slider-item__date 12 May, 15:32
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg-half")
      img.slider-item__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
      span.slider-item__date 12 May, 15:32
    