.slider__wrapper
  .slider__nav
    btn.slider__arrow.slider__left.slider__arrow_disabled prev
      +icon("arrow-back")
      +icon("arrow")
    btn.slider__arrow.slider__right next
      +icon("arrow-back")
      +icon("arrow")
  .slider.keen-slider#slider
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="Get White List - and you’re at the NFT mint!", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/10002x.webp 2x" src="./img/1000.webp", alt="WOW! 10 random tickets will receive $1,000", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text $1,000 in 10 random tickets 
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/netflix2x.webp 2x" src="./img/netflix.webp", alt="50 Netflix subscriptions", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text 50 Netflix subscriptions
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/shadow-fight2x.webp 2x" src="./img/shadow-fight.webp", alt="Up to 100$ in Shadow Fight", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text Up to 100$ in Shadow Fight 
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/upto502x.webp 2x" src="./img/upto50.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text Up to 50 USDT
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/alpha2x.webp 2x" src="./img/alpha.webp", alt="Guaranteed part in the mint", loading="lazy", width="137", height="52", type="image/webp")
      span.slider-item__text Guaranteed part in the mint