.slider__wrapper
  .slider__nav
    btn.slider__arrow.slider__left.slider__arrow_disabled prev
      +icon("arrow-back")
      +icon("arrow")
    btn.slider__arrow.slider__right next
      +icon("arrow-back")
      +icon("arrow")
  .slider.keen-slider#slider
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="White List to the NFT mint", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text White List to the NFT mint
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/t-shirt2x.webp 2x" src="./img/t-shirt.webp", alt="Official Fight Me merch", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text Official Fight Me merch
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/upto50usdt2x.webp 2x" src="./img/upto50usdt.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text Up to 50 USDT
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/armchair2x.webp 2x" src="./img/armchair.webp", alt="1 of 3 RAZER Gaming Chairs", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text 1 of 3 RAZER Gaming Chairs
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/300wow2x.webp 2x" src="./img/300wow.webp", alt="Up to 300 WOW tokens ($100)", loading="lazy", width="110", height="110", type="image/webp")
      span.slider-item__text 1 of 3 RAZER Gaming Chairs
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/alfa2x.webp 2x" src="./img/alfa.webp", alt="1 of 3 RAZER Gaming Chairs", loading="lazy", width="137", height="52", type="image/webp")
      span.slider-item__text @Alfa role in Discord
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/goldlion2x.webp 2x" src="./img/goldlion.webp", alt="Gold Lion role in our Discord server", loading="lazy", width="146", height="52", type="image/webp")
      span.slider-item__text Gold Lion role in our Discord
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/nekki2x.webp 2x" src="./img/nekki.webp", alt="A trip on an excursion to the office of the publisher Nekki", loading="lazy", width="113", height="52", type="image/webp")
      span.slider-item__text Excursion to the Nekki office
    .slider__item.slider-item.keen-slider__slide
      +icon("slider-item-bg")
      img.slider-item__img(srcset="./img/party2x.webp 2x" src="./img/party.webp", alt="Invitation to a party in honor of the release of the game", loading="lazy", width="113", height="52", type="image/webp")
      span.slider-item__text Invitation to a release party