section.buttons
  .container
    h1 Buttons
    .btn__wrapper
      button.btn.btn_primary
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Copy link
    .btn__wrapper
      button.btn.btn_primary.btn_320
        +icon('btn-back-320')
        +icon('btn-br-320')
        +icon('btn-br-top-320')
        +icon('btn-br-bottom-320')
        span.btn__text Log In via Discord
    .btn__wrapper
      button.btn.btn_secondary.btn_320
        +icon('btn-back-320')
        +icon('btn-br-320')
        +icon('btn-br-top-320')
        +icon('btn-br-bottom-320')
        span.btn__text How to get prize?
    .btn__wrapper
      button.btn.btn_primary.btn_230
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text Cool!
    .btn__wrapper
      button.btn.btn_primary.btn_230
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text open a ticket
    .btn__wrapper
      button.btn.btn_primary.btn_230(disabled)
        +icon('btn-back-230')
        +icon('btn-br-230')
        +icon('btn-br-top-230')
        +icon('btn-br-bottom-230')
        span.btn__text open a ticket
section.modals
  .container
    h2 Popups
    .btn__wrapper
      button.btn.btn_primary(data-modal="1")
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Open Popup 1
    .btn__wrapper
      button.btn.btn_primary(data-modal="2")
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Open Popup 2
section.lists
  .container
    h2 lists
    ul.list
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Log In via Discord
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Enter your Polygon Wallet
      li.list__item
        span.list__count
          +icon("list-bg")
        span.list__text Get your prizes!
    ul.list.list_blue
      li.list__item
        span.list__count
          +icon("list-bg-blue")
        span.list__text Log In via Discord
      li.list__item
        span.list__count
          +icon("list-bg-blue")
        span.list__text Enter your Polygon Wallet
      li.list__item
        span.list__count
          +icon("list-bg-blue")
        span.list__text Get your prizes!
section.sliders.prizes
  .container.container_min
    h2 Slider
    .slider__wrapper
      .slider__nav
        btn.slider__arrow.slider__left.slider__arrow_disabled prev
          +icon("arrow-back")
          +icon("arrow")
        btn.slider__arrow.slider__right next
          +icon("arrow-back")
          +icon("arrow")
      .slider.keen-slider#slider
        .slider__item.slider-item.keen-slider__slide
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/characters2x.webp 2x" src="./img/characters.webp", alt="Get White List - and you’re at the NFT mint!", loading="lazy", width="110", height="110", type="image/webp")
          span.slider-item__text White List to the NFT mint
        .slider__item.slider-item.keen-slider__slide
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/10002x.webp 2x" src="./img/1000.webp", alt="WOW! 10 random tickets will receive $1,000", loading="lazy", width="110", height="110", type="image/webp")
          span.slider-item__text $1,000 in 10 random tickets 
        .slider__item.slider-item.keen-slider__slide
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/netflix2x.webp 2x" src="./img/netflix.webp", alt="50 Netflix subscriptions", loading="lazy", width="110", height="110", type="image/webp")
          span.slider-item__text 50 Netflix subscriptions
        .slider__item.slider-item.keen-slider__slide
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/shadow-fight2x.webp 2x" src="./img/shadow-fight.webp", alt="Up to 100$ in Shadow Fight", loading="lazy", width="110", height="110", type="image/webp")
          span.slider-item__text Up to 100$ in Shadow Fight 
        .slider__item.slider-item.keen-slider__slide
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/upto502x.webp 2x" src="./img/upto50.webp", alt="Up to 50 USDT", loading="lazy", width="110", height="110", type="image/webp")
          span.slider-item__text Up to 50 USDT
        .slider__item.slider-item.keen-slider__slide(style="min-width: 180px; max-width: 180px")
          +icon("slider-item-bg")
          img.slider-item__img(srcset="./img/alpha2x.webp 2x" src="./img/alpha.webp", alt="Guaranteed part in the mint", loading="lazy", width="137", height="52", type="image/webp")
          span.slider-item__text Guaranteed part in the mint
section.banners
  .container.container_min
    h2 Banners
    .bannerinv
      .bannerinv__container
        h3.bannerinv__title INVITE FRIENDS TO GET MORE TICKETS
        ul.list.list_blue.bannerinv__list
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Share your personal link
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text Your friend fulfills conditions
          li.list__item
            span.list__count
              +icon("list-bg-blue")
            span.list__text You and your friend both get ticket
        .bannerinv-link Your Invitation link
          span.bannerinv-link__url#copy-content(data-text="fight.me/ref/ajai120") FIGHT.ME/REF/AJAI120
          .btn__wrapper#copy-btn.bannerinv__btn
            button.btn.btn_primary
              +icon('btn-back')
              +icon('btn-br')
              +icon('btn-br-top')
              +icon('btn-br-bottom')
              span.btn__text Copy link
        ul.bannerinv-socList
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") facebook
              +icon("facebook")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") telegram
              +icon("telegram")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") twitter
              +icon("twitter")
          li.bannerinv-socList__item
            a.bannerinv-socList__link(href="#") discord
              +icon("discordb")
    .bannertimer
      .bannertimer__timer
        .timer
          span.hour 23
          | :
          span.min 59
          | :
          span.sec 32
      .bannertimer__container
        h3.bannertimer__title Get x3 tickets
        p.bannertimer__text for each friend you invite in next 24 hours you will get 3 tickets, not 1
    .bannerhowget
      .bannerhowget__container
        h3.bannerhowget__title How to get
          br
          | prize?
        p.bannerhowget__text Write to our
          a.bannerhowget__link(href="#") &nbsp;
            span administrator Denis
            span &nbsp;in Discord
          | . He will ask for the wallet that you specified at the beginning. Within 3 days we will issue Alpha Fighter status to this wallet.
section.inputs
  .container
    h2 Input
    .input__wrapper
      input#wallet(name="wallet", placeholder="x0…" value="0x34067b06592E0EbbcAD1a5BbBe94e9b1Af7ffF57").input
      span.error__msg
        +icon('warn')
        | Try connecting the discord again
    .input__wrapper
      textarea#wallet(name="wallet", placeholder="x0…" value="0x34067b06592E0EbbcAD1a5BbBe94e9b1Af7ffF57").input.input_error
      span.error__msg
        +icon('warn')
        | Try connecting the discord again





