section.buttons
  .container
    h1 Buttons
    .btn__wrapper
      button.btn.btn_primary
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Log In via Discord
    .btn__wrapper
      button.btn.btn_primary(disabled)
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Log In via Discord
    .btn__wrapper
      button.btn.btn_secondary
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Log In via Discord
    .btn__wrapper
      button.btn.btn_secondary(disabled)
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Log In via Discord
section.modals
  .container
    h2 Popups
    .btn__wrapper
      button.btn.btn_primary(data-modal="1")
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Open Popup 1
    .btn__wrapper
      button.btn.btn_primary(data-modal="2")
        +icon('btn-back')
        +icon('btn-br')
        +icon('btn-br-top')
        +icon('btn-br-bottom')
        span.btn__text Open Popup 2




